.admin-logo{
    width: 200px;
    height: 200px;
}

.priority-icon{
    width: 30px;
    height: 30px;
}

.open-header{
    background-color: aquamarine;
}

.message-header {
    cursor: pointer;
    font-weight:500;
}

.message-img{
    max-width: 400px;
}